.navigationContainer {
    display: flex;
    justify-content: space-evenly;
    top: 2rem;
    padding: 1rem;
}

.navLink {
   color:  #C6C6FE;
   font-weight: 600;
   border-bottom: 5px solid transparent;
}

.navLink:hover {
    border-bottom: 5px solid #C6C6FE;
    transition: 300ms cubic-bezier(0.165, 0.84, 0.44, 1);
}

.homeBg {
    background-color: #2D2D40;
}

a:is(:link, :visited, :hover, :active) {
    text-decoration: none;
    display: inline-block;
}