html {
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
}

.displayFlex {
  display: flex;
  flex-direction: row;
  gap: 1rem;
}

.introContainer {
  height: calc(100vh - 3rem); /* full height minus navigation */
  width: 100vw;
  background-color: #2D2D40;
}

.intro {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: calc(100vh - 3rem); /* full height minus navigation */
}

/* box containing phrase */
.introPhrase {
  width: 30vw;
  height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

/* the phrase */
.phraseContainer {
  font-size: 6vw;
  font-weight: 100;
  display: flex;
  flex-flow: row;
  width: 100%;
  height: fit-content;
  color: #C6C6FE;
}

.hovered {
  color: #E3E3FF;
  font-weight: 500;
  transition: all;
  transition-duration: 300ms;
}

.adjacentHovered {
  color: #DBDBFE;
  font-weight: 300;
  transition: all;
  transition-duration: 300ms;
}

/* to add space */
.spaceClass {
  min-width: 2vw;
}

.photoBox {
  width: 50vw;
  height: fit-content;
  margin-bottom: .5rem;
  align-items: center;
  display: flex;
  justify-content: center;
}

.photoBox > img {
  width: 55%;
  height: 80%;
  border-radius: 50%;
} 

.photosAndIcons {
  justify-content: flex-start;
  display: flex;
  align-items: flex-start;
}

/* set hovered state of the social icon */
.social-icon:hover > div > svg g.social-svg-icon {
  fill: #E3E3FF !important;
}

.heading {
  color: #C6C6FE;
  font-weight: 100; 
  font-size: 5.5vw;
  display: flex;
  margin-left: 6vw;
  padding-top: 1rem;
}

.heading.mobile {
  font-size: 35px;
}

.columns {
  display: flex;
  justify-content: space-around;
}

/* education css */
.educationLanding {
  background-color: #1C1C28;
  width: 100vw;
  height: 100vh;
}

.educationContainer {
  display: flex;
  justify-content: space-around;
  height: calc(100vh - 5.5vw);
  align-items: center;
}

.educationContainer.mobile {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: calc(100vh - 35px);
}

.educationText {
  display: flex;
  flex-direction: column;
  width: 30vw;
  color: #C6C6FE;
  text-align: left;
  font-weight: 150;
  font-size: 35px;
  height: max-content;
  justify-content: center;
  margin-top: -1rem; /* move up a bit because the header is bigger than it says it is */
  text-align: justify;
}

.educationText.mobile {
  margin-top: 1rem;
  font-size: 18px;
  width: 80vw;
}

.circle {
  border-radius: 50%;
  min-width: 50%;
  max-width: 55%;
}

.circle.mobile{
  max-width: 60%;
}

.educationImageLabel {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: -1rem; /* move up a bit because the header is bigger than it says it is */
  width: 50vw;
}

.educationCaption {  
  color: #C6C6FE;
  font-weight: 150;
  font-size: 35px;
  margin-top: 1vh;
}

.educationCaption.mobile {
  font-size: 20px;
  width: 100vw;
}

/* css for experience */
.experienceLanding {
  height: 100vh;
  width: 100vw;
  background-color: #2D2D40;
}

.experienceContainer {
  display: flex;
  justify-content: center;
  height: calc(100vh - 5.5vw - 2rem); /* remove header */
  align-items: center;
  margin-bottom: 1rem;
}

.experienceContainer.mobile {
  display: flex;
  flex-direction: column;
  height: calc(100vh - 35px - 2rem); /* remove header */
}


